cmd/cmd
cmd/static.go
ui/dist/
ui/node_modules
ui/package-lock.json
ui/tests/e2e/videos/
ui/tests/e2e/screenshots/

# local env files
ui/.env.local
ui/.env.*.local

# Log files
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ui/build/env.js
